body{
    color: black;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.oscuro{
    background-color: rgb(43, 42, 42);
    color: white;
}

.tema{
    text-align: right;
}

button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 40px;
}

.claro{
    background-color: white;
    color: black;
}

div{
    width: 800px;
    margin-left: 1%;
}

div > div{
    margin-left: 3%;
    margin-bottom: 5%;
}

input{
    background-color: #33a7d4;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    border: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px,
        rgba(0, 0, 0, 0.3) 0px 2px 2px,
        rgba(255, 255, 255, 0.5) 1px 1px 1px 0px inset;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 0px;
}

input:hover{
    background-color: blue;
}